<body style="background: black; color: white;">
    <div class="meals">
        <div class="meals__titile">
           <h1> 
                <i class='fas fa-hamburger'></i>
                Your Meals              
           </h1>
           <a 
           [routerLink]="['../meals/new']">
           <i class='fas fa-plus'></i>
               New Meal
           </a>
        </div>
        <div class="meals__container">
            <div *ngIf="(meals$ | async) as meals; else loading">
                <div class="message" *ngIf="!meals.length">
                    <i class='far fa-frown'></i>
                    No meals, add a  new meal to start                
                </div>
                <div class="meals__content">
                    {{ meals | json}}
                </div>
            </div>
            <ng-template #loading>
                <div class="message">
                    <i class="fa fa-spinner" aria-hidden="true"></i>
                    Fetching meals...
                </div>                
            </ng-template>
        </div>
    </div>
</body>