.sidenav-container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;

    mat-icon {
        color: yellowgreen;
    }
}

.mat-sidenav{
    width: 15em;
}

.dashboard-container{
    display: flex;
    padding: 2em 1em 1em;

    h3 {
        padding-left: 1em;
    }
}

.mat-nav-list{
    span {
         display: flex; 
         padding: 0.25em 1em;
        
        h4 {
            padding: 0.2em 1em;
        }        

    }
}

.mat-sidenav-content{
    padding: 2em;
}